<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@player.first_name} #{@player.last_name}" %>
</h2>

<h4>
  <%= @player.team if @player.team %>
</h4>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Career</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th class="hide-small">G</th>
        <th class="hide-small">MPG</th>
        <th class="hide-small">FGM</th>
        <th class="hide-small">FGA</th>
        <th>FG%</th>
        <th class="hide-small">FTM</th>
        <th class="hide-small">FTA</th>
        <th>FT%</th>
        <th>REB</th>
        <th>BLK</th>
        <th>AST</th>
        <th>STL</th>
        <th>PPG</th>
      </tr>
      <tr>
        <td class="hide-small"><%= @stats.games_played %></td>
        <td class="hide-small"><%= @stats.minutes.to_s %></td>
        <td class="hide-small"><%= @stats.fgm.to_s %></td>
        <td class="hide-small"><%= @stats.fga.to_s %></td>
        <td><%= convert_number_string_to_percentage(@stats.fg_pct.to_s) %></td>
        <td class="hide-small"><%= @stats.ftm.to_s %></td>
        <td class="hide-small"><%= @stats.fta.to_s %></td>
        <td><%= convert_number_string_to_percentage(@stats.ft_pct.to_s) %></td>
        <td><%= @stats.reb.to_s %></td>
        <td><%= @stats.blk.to_s %></td>
        <td><%= @stats.ast.to_s %></td>
        <td><%= @stats.steal.to_s %></td>
        <td><%= @stats.pts.to_s %></td>
      </tr>
    </thead>
  </table>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
